@keyframes blink{
0%{
  opacity:0;
}
20%{
  opacity:100;
}
80%{
  opacity:100;
}
100%{
  opacity:0;
}
}

.blinking{
  animation:blink;
  animation-duration:1s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
}
